body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 106, 0);
    cursor:url('curseur.png'), auto;
    font-size: 15px;
    margin: 0;
}

html{
  scroll-behavior: smooth;
}
    
img.opacity1 {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        border: .5px solid rgb(255, 106, 0);;
        padding: 10px 10px 10px;
    }
    img.opacity1:hover {
        opacity: .5;
        border: 2px solid yellow;
    }


h1 {
    text-align: center;
    font-size: 120px;
    font-family: "retros", sans-serif;
    font-weight: 500;
    font-style:normal;
    margin-bottom: -150px;
    position: relative;
    color: antiquewhite;

}

.pdt{
    position: absolute;
    top: 75px;
    right: 300px;
}

h2 {
    text-align: center;
    font-size: 120px;
    font-family: "retros", sans-serif;
    font-weight: 500;
    font-style:normal;
    margin-bottom: 10px;
    position: relative;

}

a {
    text-align: center;
    font-family: "poppins";
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 28px;
    z-index: 100;
    text-decoration: none;
    cursor:url('curseur_frites.png'), auto;
}

a:hover {
  color:red;
  font-size:32px;
}

.colonne-recette {
  column-count: 3;
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 424px; /* largeur entre les colonnes*/
  margin-bottom: 100px;
  margin-left: 70px;
  margin-right: 70px;
}

.colonne-image{
    column-count: 3;
    justify-content: center;
    text-align: center;
    column-gap: 196px; /* largeur entre les colonnes*/
    margin-top: 120px;
    margin-left: 70px;
    margin-right: 70px;
}

.titre{
    text-align: center;
    font-family: "poppins";
    font-weight: 400;
    font-style: normal;
    color:antiquewhite;
    font-size: 28px;
    z-index: 100;
    text-decoration: none;
    cursor:url('curseur_frites.png'), auto;
}

.titre:hover {
  color:yellow;
  font-size:32px;
}

/*POP UP*/
.popup-overlay{
    position: fixed;
    inset: 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.63);
    z-index: 9999;
}
.popup{
    position: fixed;
    width: 500px;
    height: 200px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    background: rgba(255, 106, 0, 0.887);
    color: #ffffff;
    z-index: 1000;  
}

/*CROIX*/
.popup-close{
  position: absolute;
  top: 14px;
  right: 20px;
  color: rgb(255, 106, 0);
  font-size: 15px;
  text-decoration: none;
  cursor:url('curseur_frites.png'), auto;
}

/*MISE EN PAGE*/
.popup-title{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin-bottom: -10px;
  margin-top: 40px;
}
.popup-text{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

/*Cycle de croissance*/
#savoirs{
  background-color: red;
  padding: 100px;
}

h4 {
    text-align: center;
    font-family: "retros", sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 55px;
}

h5 {
    text-align: left;
    font-family: "roboto", sans-serif;
    font-weight: normal;
    color:antiquewhite;
    font-size: 28px;
}

h6 {
    text-align: center;
    font-family: "retros", sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 55px;
    margin-bottom: -70px;
}

.croissance{
  display: flex;
  align-items: center;
  gap: 50px; /* espace entre image et liste */
}

ol{
  color:antiquewhite;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container ol{
  list-style:disc;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Barre de navigation */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(250, 235, 215, 0.833);
    z-index: 1000;
}

/* Liste horizontale */
.menu ul {
    display: flex;
    justify-content: center;
    gap: 200px;
}

/* Liens */
.menu a {
    display: block;
    padding: 15px 25px;
    font-family: "Poppins", sans-serif;
    color:rgb(255, 106, 0);
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

/* Survol */
.menu a:hover {
    background: #333;
}

section {
    padding-top: 70px;
}
