body{
    background-color: rgb(27, 1, 1);
    background-image: 
    url('cadre1.png'), /* image du dessus */
    url('fond_gratin.png'); /* image du dessous */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain, contain;
    margin-top: 100px;
    cursor:url('curseur_gratin.png'), auto;
}

h1 {
    text-align: center;
    font-size: 85px;
    font-family: "retros", sans-serif;
    font-weight: 500;
    font-style:normal;
    position: relative;
    color: rgb(252, 121, 163);
}

.menu{
    column-count: 3;
    grid-row: 1 / 3;
    display:flex;
    justify-content: center;
    text-align: center;
    column-gap: 100px; /* largeur entre les colonnes*/
    background-color: rgb(155, 0, 0);
    border-radius: 50px;
    margin-left: 400px;
    margin-right:400px;
    height: 65px;
}

h2{
    color: rgb(252, 121, 163);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.gros-titre{
    background-color: rgba(255, 0, 0, 0.524);
    border-radius: 200px;
    margin-left: 440px;
    margin-right:840px;
    margin-top: 60px;

}

h4{
    color: rgb(252, 121, 163);
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}


h3 {
    color: rgb(155, 0, 0);
    font-family: "retros", sans-serif;
    margin-left: 145px;
    margin-right: 145px;
    text-align: left;
    font-size: 25px;
}

/*ligne à côté du titre*/
h3:after {
  content:'';
  width:17em;
  border-bottom:rgb(155, 0, 0) solid;
  border-bottom-width: 0.6px;
  display:inline-block;
  vertical-align: middle;
  margin-left: 90px;
  margin-top: -15px;
}


p{
    margin-left: 145px;
    margin-right:145px;
    color: rgb(252, 121, 163);
    text-align: left;
    align-items: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.image-gauche{
    display: flex;
    align-items: flex-start;
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 100px;
    float: left;
}

.image-droite{
    display: flex;
    align-items: flex-start;
    margin-left: 60px;
    margin-right: 110px;
    margin-top: 300px;
    float: right;
}

.texte {
    float: right;
}

.section{
    display: flex;
    justify-content: space-between;
}

li{
    margin-left: 440px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(252, 121, 163);
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* bouton retour en arrière */
.btn-back {
  background-color: rgb(252, 121, 163);
  color: rgb(155, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 0px;
  margin-left: 20px;
}

.btn-back:hover {
    background-color:rgb(155, 0, 0);
    color: rgb(252, 121, 163);
}